body {
  margin: 0;
  font-family: "Playfair Display", serif;
}

nav {
  display: flex;
  justify-content: space-between;
}

.main-heading {
  font-size: 5em;
  margin: 0px 10px;
  color: #727272;
  line-height: 75%;
}

.sub-heading {
  font-size: 1.63em;
  margin: 0px 10px;
  color: #727272;
}

.nav-list {
  font-size: 1.2em;
  color: #727272;
  list-style: none;
  display: flex;
  margin: 36.4px 10px 0 0;
}

.nav-list li {
  margin: 0 10px;
}
.nav-list a {
  color: #727272;
}

.dropbtn {
  color:#727272;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #eeeeee;
  border-radius: 5px;
  min-width: 100%;
  z-index: 1;
}

.dropdown-content a {
  color:#727272;
  text-decoration: none;
  padding: 5px 0;
  display: block;
}

.dropdown-content a div {
  margin: auto;
}

.dropdown-content a:hover {
  background-color: #cfcfcf;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  
}

.second-section {
}

.main-image {
  width: 500px;
  display: block;
  margin: 80px auto 40px;
}

@keyframes move-up {
  from {
    margin: 80px auto 40px;
  }
  to {
    margin: 40px auto;
  }
}

div.intro {
  width: 500px;
  margin: auto;
  font-size: 1.2em;
}

form .form-error {
  font-size: 0.8em;
  color: rgb(74, 2, 2);
  margin-bottom: 10px;
}

form {
  width: 30%;
  margin: 50px auto;
  font-size: 1.2em;
}

form .input-fields {
  width: 80%;
  height: 40px;
  margin: 0 0 0 15px;
}

form .button {
  display: block;
  margin: auto;
  width: 80px;
  height: 35px;
  background-color: white;
  border: 1px solid #727272;
  border-radius: 5px;
}